<form method="post" action="{{ path('app_avis_delete', {'id': avi.id}) }}" onsubmit="return confirm('{{'convoit.supprimer_confirmation'|trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.id) }}">
    <button class="btn">{{'convoit.supprimer'|trans}}</button>
</form>
