<form method="post" action="{{ path('app_utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('{{'convoit.supprimer_confirmation'|trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
    <button class="btn">{{'convoit.supprimer'|trans}}</button>
</form>
